//fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,300italic,700);
$font: 'Open Sans', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Crimson+Text);
$timesRoman: 'Crimson Text', serif;

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
$bebasFont: 'Fjalla One', sans-serif;